extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var news = site.data.news__spotOnBend[0]
  - var baseUrl = '../'
  - var pageType = 'page-single-news'
  - var nameSpace = 'single-news.php'

include ../_modules/hero--news/hero--news
include ../_modules/news__content/news__content
include ../_modules/case-item/case-item

block content
  .container.container--fixed.container--fullscreen
    +hero--news({
      __class: '',
      heroImg: baseUrl + news.newsHero.image
    })
  .container.container--news__content
    +news__content({
      title: news.newsHero.title,
      date: news.metaInfo.date,
      content: news.content
    })
