div.navigation
  span.dash.navigation__dash
  .row.row--fullscreen.align-justify.align-top.medium-collapse
    .small-6.column.shrink
      include ../logo/logo
    .small-6.column.shrink
      include ../menu/menu
