// navigation styles
.navigation{
  padding:$spacing--medium*1.5 0 $spacing--medium;
  background-color: rgba($white, 0.95);
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.2s $global-easeing,
              transform 0.8s $global-easeing;
  &.scrolling{
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.2s $global-easeing,
                transform 0.8s $global-easeing;
  }
  &.top{
    background-color: transparent;
  }
  &__dash{
    @include dash();
    position: absolute;
    top: 0;
    z-index: $layer--navigation + 1;
    transform-origin: center left;
    .top &{
      background-color: $white;
    }
  }
}
