// menu styles
.menu{
  @include margin(right);
  &__list{
    display: flex;
    list-style: none;
    margin: 0;
    &__item{
      color: $black;
      margin-left: $spacing--medium;
      font-weight: 600;
      @extend .meta;
      a{
        // color: $black;
        color: $white;
      }
    }
  }
}
