// menu styles
.menu{
  @include margin(right);
  &__list{
    display: flex;
    list-style: none;
    margin: 0;
    &__item{
      color: $black;
      margin-left: $spacing--medium;
      @extend .meta;
      font-weight: 600;
      .top &{
        color: $white;
      }
      a{
        color: $black;
        .top &{
          color: $white;
        }
      }
    }
  }
}
