.site__navigation{
  display: block;
  width: 100%;
  position: fixed;
  z-index: $layer--navigation;
}
.site__body{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: $white;
  .page-news &{
    padding-top: $navigation-height;
  }
}
.site__footer{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  background-color: $black;
}
.menu--opened{
  overflow: hidden;
  z-index: $layer--content;
}
.row{
  &--fullscreen{
    max-width: none;
    width: 100%;
  }
  &--no-gutter{
    padding:0;
  }
  &--no-gutter-left{
    padding-left:0;
    @include breakpoint(small only){
      padding: 0;
    }
  }
}
.container{
  display: block;
  background-color: $white;
  position: relative;
  overflow: hidden;
  &--fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &--fullscreen{
    display:flex;
    height: 100vh;
  }
  &--news__content{
    top: 100vh;
  }
  &--double-padding-top{
  }
  &--double-padding{
    padding: $spacing--large*2 0;
  }
  &--bg-01{
    background-color: $background-color-01;
  }
  &--bg-02{
    background-color: $background-color-02;
  }
  &--load{
    height: $spacing--large*2;
    display: flex;
    align-items: center;
  }
  &--primary{
  }
}
.padding-top{
  padding-top:$spacing--medium*1.5;
}

.icon{
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  svg{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.responsive-embed{
  margin-bottom: 0;
}
