@mixin dash(
  $height:8px,
  $width:50px,
  $bg:#ffffff
)
{
  display: inline-block;
  position: relative;
  width: $width;
  height: $height;
  margin-bottom: $spacing--small;
  background-color: $bg;
}


@mixin overlay($background-color:rgba($black, 0.8)){
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  z-index: $layer--overlay;
}
