.regular{
  font-weight: 400;
}
.bold{
  font-weight: 600;
}
.black{
  font-weight: 900;
}
.meta{
  font-size: 80%;
  text-transform: uppercase;
}
.lhTight{
  line-height: 0.85em;
}
.heavey{
  font-weight: 900;
}
.highlight{
}
.link{
  &:hover{
  }
}
h1, h2, h3, h4, h5, h6{
}
.label{
}
