// Normalize Styles
@import 'normalize';
@import 'swiper.min';

@import 'settings';
@import 'foundation';
@include foundation-everything(true);
@include foundation-flex-grid;

@import 'prerequisites/prerequisites',
        '../_modules/navigation/navigation',
        '../_modules/logo/logo',
        '../_modules/hero/hero',
        '../_modules/menu/menu',
        '../_modules/button/button',
        '../_modules/collection/collection',
        '../_modules/thumbnail--project/thumbnail--project',
        '../_modules/thumbnail--news/thumbnail--news',
        '../_modules/paragraph/paragraph',
        '../_modules/multi-col-slider/multi-col-slider';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

// development help class
.help{
  &__description{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 80%;
    padding:$spacing--small*0.5 $spacing--small;
  }
}
