// hero--project styles
.hero--project{
  display: block;
  position: relative;
  opacity: 0;
  overflow: hidden;
  .column{
    position: relative;
  }
  &__media{
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    opacity: 0;
    z-index: $layer--background;
    img{
      width: 100%;
      max-width: none;
    }
  }
  &__content{
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: $layer--content;
    max-width: 32rem;
    @include margin(leftBottomRight);
    @include breakpoint(xxlarge up){
      max-width: 38rem;
    }
    @include breakpoint(small only){
      position: relative;
      padding: $spacing--medium*1.75 0 $spacing--medium;
    }
    h1{
      color: $white;
      // text-transform: uppercase;
      // line-height: 0.875em;
      font-size: 250%;
      font-weight: 900;
      // transform: translateY(-10px);
      @include breakpoint(medium up){

      }
      @include breakpoint(large up){
        font-size: 400%;
      }
      @include breakpoint(xlarge up){
        font-size: 400%;
      }
      @include breakpoint(xxlarge up){
        font-size: 600%;
      }
    }
    .usp{
      color: $white;
      @extend h5;
      font-weight: 900;
    }
  }
}
