// hero--project styles
.hero--project{
  display: block;
  position: relative;
  opacity: 0;
  overflow: hidden;
  .column{
    position: relative;
  }
  &__media{
    width: 100%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    opacity: 0;
    z-index: $layer--background;
    img{
      width: 100%;
      max-width: none;
    }
  }
  &__description{
    @include margin(leftTop);
    padding-bottom: $spacing--large;
    max-width: 32rem;
    // border-top: 1px solid rgba($black, 0.5);
    .title{
      margin-bottom: $spacing--medium+$spacing--small*0.5;
      color: rgba($black, 0.8);
    }
    p{
      color: rgba($black, 0.8);
      // @extend h6;
      line-height: 1.7125em;
      margin-bottom: $spacing--medium;
    }
  }
  &__content{
    display: block;
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: $layer--content;
    max-width: 32rem;
    @include margin(leftBottom);
    h1{
      color: $white;
      // text-transform: uppercase;
      font-size: 600%;
      // line-height: 0.875em;
      font-weight: 900;
      // transform: translateY(-10px);
    }
    .meta-group{
      color: $white;
      // font-weight: 600;
    }
    .usp{
      p{
        @extend h4;
        color: $white;
      }
    }
  }
}
