// hero styles
.hero{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .row{
  }
  &__media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $layer--background;
    video{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 300%;
      transform: translate3d(-52.5%, -25%, 0);
      z-index: $layer--background + 1;
      @include breakpoint(portrait) {
        height: 100vh;
        width: auto;
        transform: translateY(0%);
      }
    }
    img{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: $layer--background;
    }
    .icon__buffle{
      z-index: $layer--background + 2;
      display: block;
      position: absolute;
      width: 120px;
      height: auto;
    }
  }
  &__content{
    display: flex;
    position: relative;
    width: 100%;
    z-index: $layer--content;
    color: $white;
    @include margin(leftRight);
    margin-bottom: $spacing--large;
    @include breakpoint(small only){
      width: auto;
    };
    .statement{
      @extend h3;
      font-weight: 900;
      margin-bottom: 0;
    }
  }
  &__hint{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: $layer--content;
    right: 0;
    bottom: $spacing--large;
    color: white;
    text-transform: uppercase;
    @extend .meta;
    font-weight: 600;
    @include margin(right);
    @include breakpoint(small only){
      display: none;
    }
    &__text{
      margin-bottom: 0;
    }
    &__icon{
      width: 20px;
      height: 30px;
      margin-left:$spacing--small;
      svg{
        stroke: $white;
      }
    }
  }
}
