// multi-col-slider styles
.multi-col-slider{
  .list{
    margin: 0;
    list-style: none;
    &__item{
      opacity: 0;
      transition: opacity 0.2s $global-easeing;
      &__img{
        display: block;
      }
      &__text{
        color: $white;
      }
    }
    .swiper-slide-active{
      opacity: 1;
      transition: opacity 0.2s $global-easeing;
    }
  }
}
.swiper-container {
}
.swiper-slide {
    text-align: left;
}
