extends _layouts/base

block config
  - var baseUrl = ''
  - var pageType = 'page-index'
  - var nameSpace = 'home'

//- include _modules/link/link
include _modules/hero/hero

block content
  .container
    +hero({
      __statment: 'At kilo we turn ideas into reality based on strategy, design sensibility and production knowhow'
      })
