extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var project = site.data.project__carlsbergGreenFiberBottle[0]
  - var baseUrl = '../'
  - var pageType = 'page-project'
  - var nameSpace = 'single-work.php'

include ../_modules/hero--project/hero--project
include ../_modules/project__section/project__section
include ../_modules/project__meta-info/project__meta-info
include ../_modules/case-item/case-item

block content
  .container
    +hero--project({
      __class: '',
      title: project.caseHero.title,
      date: project.caseHero.releaseYear,
      client: project.caseHero.client,
      usp: project.caseHero.usp,
      backgroundColor: project.caseHero.bgColor,
      heroImg: baseUrl + project.caseHero.image,  
      description : project.caseHero.description
    })
  .container
    +project__section({
      __class: 'project__section--sideQuote',
      sectionTitle: project.sectionTitle,
      metaInfo: project.metaInfo,
      backgroundColor: project.caseHero.bgColor,
      sideQuote: project.sideQuote, 
      description : project.caseHero.description
    })
  .container
    - each caseItem in project.caseItems
      if caseItem.imageUrl
        +case-item({
          imgUrl: baseUrl + caseItem.imageUrl
        })
      else if caseItem.embedMedia
        +case-item__embedMedia({
          embedMedia: caseItem.embedMedia
        })
  .container
    +project__meta-info({
      metaInfo: project.metaInfo,
      recongnitions: project.recongnitions,
      awards: project.awards
      })
