// thumbnail--news styles
.thumbnail--news{
  display: flex;
  flex-basis: 100%;
  width: 100%;
  // background-color: $background-color-01;
  background-color: $white;
  margin-bottom: $spacing--large;
  @include breakpoint(medium up){
    margin-bottom: $spacing--medium;
  }
  @include breakpoint(large up){
    margin-bottom: 0;
  }
  .column{
    display: flex;
    align-items: center;
    padding: 0;
  }
  a{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 100%;
    color: $black;
    @include breakpoint(small only){
      display: block;
    }
  }
  &__content{
    width: auto;
    margin-top: $spacing--large;
    @include margin(leftRight);
    p{
      max-width: 32em;
    }
    .dash{
      @include dash(5px, 30px, $black);
    }
  }
  &__media{
    display: block;
    width: 100%;
    img{
      max-width: none;
      width: 100%;
    }
  }
}
