extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'
  - var pageType = 'page-projects'
  - var nameSpace = 'template-work.php'

include ../_modules/collection/collection
include ../_modules/loading/loading
include ../_modules/button/button

block content
  .container
    +collection--projects({
      __class: 'collection collection--projects',
      __collectionClass: 'projects',
      data: site.data.projects
    })
  .container.container--load.container--bg-02
    +button({
      __class: 'button--load button--default',
      __id: 'buttonLoadProjects',
      __text: 'see all projects',
      __icon: 'icon__arrow'
      })
    +loading
